@use '../abstracts/variables' as *;

body {
  ul li {
    list-style: none;
  }

  ::selection {
    color: $white;
    background: $primary;
    text-shadow: none;
  }

  ::-webkit-selection {
    color: $white;
    background: $primary;
    text-shadow: none;
  }

  ::-moz-selection {
    color: $white;
    background: $primary;
    text-shadow: none;
  }
}
